In [187]:
# intial imports for packages

import pandas as pd
import numpy as np
import urllib.request
import re as re
from bs4 import BeautifulSoup

In [188]:
#Using beutifulSoup and urllib we establishing a connection and then converting the page into a soup object for further use.

baseUrl = "https://www.worldometers.info/coronavirus/#countries"

req = urllib.request.Request(baseUrl, headers={'User-Agent': 'Mozilla/5.0'})
page = urllib.request.urlopen(req).read()
soup = BeautifulSoup(page)

In [192]:
# find the table(to scrape) from the page
main = soup.find("table", id="main_table_countries_today")

#Extract each row from the table
tableRows = main.find_all("tr")

In [196]:
#check to see what the content of each row looks like
tableRows[9]

<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
<td style="font-weight: bold; text-align:right">44,682,835</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">722,268 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">34,154,777</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">9,805,790</td>
<td style="font-weight: bold; text-align:right">19,055</td>
<td style="font-weight: bold; text-align:right">134,005</td>
<td style="font-weight: bold; text-align:right">2,166</td>
<td style="font-weight: bold; text-align:right">649,261,344</td>
<td style="font-weight: bold; text-align:right">1,947,146</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/us-population/">333,442,503</a> </td>
<td data-continent="North America" style="display:none">North America</td>
<td>7</td><td>462</td><td>1</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">29,408</td>
</tr>

In [199]:
#create a key for each country which will later be used as columns for the final dataframe
key = ["Rank", "Name", "Total Cases", "New Cases", "Total Deaths", "New Deaths", 
       "Total Recovered", "New Recovered", "Active Cases", "Serious Cases", "Tot Cases/1M Pop",
       "Deaths/1M Pop", "Total Tests", "Tests/1M Pop", "Population", "Continent", "1 Case every X ppl",
       "1 Death every X ppl", "1 Test every X ppl", "New Cases/1M pop", "New Deaths/1M pop", 
       "Active Cases/1M pop"]

#create a list to hold all countries
countries = []

#Web-Scraping: create a dictionary for each country and append each country to the countries list after scraping.
for tr in tableRows:
    country = {}
    tab = tr.find_all("td")
    count = 0
    
    for td in tab:
        if(td.find("a")):
            country[key[count]] = td.find("a").string
            count += 1
        else:
            country[key[count]] = td.string
            count += 1
    
    countries.append(country)

In [205]:
#Remove unnecessary data which is cluttering our view.
countries = countries[8:]

In [210]:
#create data frame with ease and display the top 9 countries with most cases till date
df = pd.DataFrame(countries)
df.head(10)

,Rank,Name,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,Serious Cases,...,Total Tests,Tests/1M Pop,Population,Continent,1 Case every X ppl,1 Death every X ppl,1 Test every X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,None,World,"236,186,915","+36,077","4,823,181",+879,"213,244,788","+42,995","18,118,946","85,929",...,None,None,None,All,\n,None,None,None,None,None
1,1,USA,"44,682,835",None,"722,268",None,"34,154,777",None,"9,805,790","19,055",...,"649,261,344","1,947,146","333,442,503",North America,7,462,1,None,None,"29,408"
2,2,India,"33,853,048","+2,043","449,283",None,"33,150,886","+7,920","252,879","8,944",...,"575,394,042","411,864","1,397,050,086",Asia,41,"3,110",2,1,None,181
3,3,Brazil,"21,478,546",None,"598,185",None,"20,462,345",None,"418,016","8,318",...,"63,776,166","297,382","214,458,419",South America,10,359,3,None,None,"1,949"
4,4,UK,"7,934,936",None,"136,986",None,"6,453,132",None,"1,344,818",805,...,"307,339,034","4,497,581","68,334,304",Europe,9,499,0,None,None,"19,680"
5,5,Russia,"7,612,317",None,"210,801",None,"6,740,491",None,"661,025","2,300",...,"193,700,000","1,326,593","146,013,169",Europe,19,693,1,None,None,"4,527"
6,6,Turkey,"7,267,077",None,"64,909",None,"6,719,398",None,"482,770",633,...,"87,718,944","1,026,204","85,479,089",Asia,12,"1,317",1,None,None,"5,648"
7,7,France,"7,028,197",None,"116,848",None,"6,800,612",None,"110,737","1,355",...,"143,234,831","2,188,290","65,455,147",Europe,9,560,0,None,None,"1,692"
8,8,Iran,"5,638,735",None,"121,347",None,"5,115,796",None,"401,592","5,727",...,"32,619,228","382,213","85,343,022",Asia,15,703,3,None,None,"4,706"
9,9,Argentina,"5,260,719",None,"115,283",None,"5,124,930",None,"20,506","1,032",...,"24,252,818","530,500","45,716,864",South America,9,397,2,None,None,449